body{
  background: #6681B2;
}

/* Uncomment for red */
/*body{background: #c84d43;}*/

/* Uncomment for green */
/*body{background: #7ab266;}*/

/* Uncomment for purple */
/*body{background: #9758a0;}*/

/* Uncomment for pink */
/*body{background: #cb6fab;}*/

/* Uncomment for teal */
/*body{background: #58bbd7;}*/
